@charset "utf-8";
/*media响应式*/
html{
    font-size: 62.5%;/*1rem=10px 设计稿*/
}
@media screen and (max-width: 320px){
    html{
        font-size: 88%!important;
    }
}
@media screen and (min-width: 320px) and (max-width: 360px){
    html{
        font-size: 100%!important;
    }
}
@media screen and (min-width: 360px) and (max-width: 400px) {
    html {
        font-size:100%!important; /* 16÷16=100% */
    }
}
@media screen and (min-width: 400px) and (max-width: 440px) {
    html {
        font-size:113%!important; /* 18.08÷16=113% */
    }
}
@media screen and (min-width: 440px) and (max-width: 480px) {
    html {
        font-size:125%!important; /* 20÷16=125% */
    }
}
@media screen and (min-width: 480px) and (max-width: 520px) {
    html {
        font-size:138%!important; /* 22.08÷16=125% */
    }
}
@media screen and (min-width: 520px) and (max-width: 560px) {
    html {
        font-size:150%!important; /* 24÷16=150% */
    }
}
@media screen and (min-width: 560px) and (max-width: 600px) {
    html {
        font-size:163%!important; /* 26.08÷16=163% */
    }
}
@media screen and (min-width: 600px) {
    html {
        font-size:175%!important; /* 28÷16=175% */
    }
}